.opener {
    margin: 6px;
    padding: 6px;
    border-radius: 6px;
}

.openerClickable {
    height: 48px;
    overflow: hidden;
}

.openerTitle {
    width: calc(100% - 48px);
    max-height: 24px;
    height: 24px;
    overflow: hidden;
    display: inline;
}