.sidebar {
    float: left;
    width: 48px;
    height: 100%;
    background-color: lightgray;
}

.mainPanel {
    float: left;
    width: calc(100% - 54px);
    height: 100%;
    padding-left: 6px;
}

.infoIcon {
    position: absolute;
    bottom: 0px;
}