.cardItem {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    width: calc(18vw - 30px);
    height: calc(20vh - 30px);
    overflow-x: hidden;
    overflow-y: scroll;
}

.cardItem::-webkit-scrollbar {
    display: none;
}