.cardSet {
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: absolute;
    z-index: 1;
    bottom: 48px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.cardSet::-webkit-scrollbar {
    display: none;
}