.playBar {
    z-index: 1;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

.timeStamp {
    display: inline;
    width: 84px;
    font-size: 12px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: right;
}